@import url(https://fonts.googleapis.com/css?family=Montserrat);

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(132deg,#16A085, #F4D03F); */
    background: #f7f5f4;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}


.container{
    margin: 0 auto;
    vertical-align: middle;
    padding: 0;
    width: 100%;
    height: auto;
}

#home .btn{
    background:none;
    border: 2px solid #332f2c;
    color:#332f2c;
    font-weight: bold;
    font-size: 13px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#home .btn:hover{
    border: 2px solid #e84845;
    color:#e84845; 
}

#home{
    margin-top: 60px;
    margin-bottom: 60px;
    background: none;
    box-shadow: none;
}

#home img{
    margin-top: 40px;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

#home h4{
    color: #332f2c;
    font-weight: bold;
    text-align: center;
}

#about{
    background:linear-gradient(132deg,#c65151, #db7062);
}

#about h3{
    color: white;
    margin-bottom: 30px;
}

#about h4{
    color:white;
    padding: 5px 10px 10px 15px;
}

#about p{
    color: white;
}

.progress{
    background: white;
    border: none;
    border-radius: 0;
    box-shadow: 4px 4px 6px #c65151;
}

.progress-bar{
    background: #2f3c4c;
    border-radius: 0;
    border: none;
}

.progress-bar p{
    font-family: "Arial";
    font-size: 14px;
    text-align: left;
    margin-left: 5px;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 40px; 
    margin-bottom: 50px
}

#projects{
    background:linear-gradient(132deg,#c65151, #db7062);
}

#projects h3{
    color:white;
    margin-bottom: 30px;
}

#projects img{
    margin-bottom: 30px;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    max-height: 400px;
    margin: 0 auto;
}

#projects .caption{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#projects .text{
    color: white;
    font-size: 11px;
    font-weight: bold;
}

#projects .img-container:hover img{
    opacity: .2;
}

#projects .img-container:hover .caption{
    opacity: 1;
}

#projects .img-container{
        position: relative;
        width: 100%;
}


#art{
    background: #f7f5f4;
}

#art h3{
    color:#333131;
}

#art a{
    color:#333131;
    display: inline-block;
    margin-bottom: 25px;
    text-decoration: none;
}

#art a:hover{
    color: peachpuff;
}

#art img{
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    margin-bottom: 30px;
    box-shadow: 4px 4px 8px #ccbcb5;
}

#contact{
    background: #f7f5f4;
}

#contact h3{
    color: #332f2c;
    padding: 5px 10px 10px 25px;
}

/*  position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */